*/
!aerospace/
!aerospace/*
!fish/
!fish/*
!ghostty/
!ghostty/*
!kitty/
!kitty/*
!lazygit/
!lazygit/*
!nvim/
!nvim/*
!sketchybar/
!sketchybar/*
!yazi/
!yazi/*
!zellij/
!zellij/*
!starship.toml
*.bak
*.bak.*
