*
!.gitignore
!fish
!fish/**
fish/fish_variables
!ghostty
!ghostty/**
!scripts
!scripts/**
!scripts-manual
!scripts-manual/**
!sddm-theme
!sddm-theme/**
!niri
!niri/**
!nvim
!nvim/**
!lazygit
!lazygit/**
!systemd
!systemd/**
!noctalia-plugins
!noctalia-plugins/**
!noctalia
!noctalia/config.toml
!noctalia/settings.toml
systemd/user/*.wants/
