themes {
  noctalia {
    fg "#d8e5e9"
    bg "#091518"
    black "#334a51"
    red "#ffb4ab"
    green "#6cdbac"
    yellow "#8dd5b3"
    blue "#84d2e6"
    magenta "#6cdbac"
    cyan "#8dd5b3"
    white "#d8e5e9"
    orange "#ffdeab"
  }
}
