themes {
  noctalia {
    fg "#e3e1ef"
    bg "#12131c"
    black "#444559"
    red "#ffb4ab"
    green "#76d1ff"
    yellow "#8ecff2"
    blue "#bec2ff"
    magenta "#76d1ff"
    cyan "#8ecff2"
    white "#e3e1ef"
    orange "#ffdeab"
  }
}
