layout {

    focus-ring {
        active-color   "#6cdbac"
        inactive-color "#091518"
        urgent-color   "#ffb4ab"
    }

    border {
        active-color   "#6cdbac"
        inactive-color "#091518"
        urgent-color   "#ffb4ab"
    }


    tab-indicator {
        active-color   "#6cdbac"
        inactive-color "#005138"
        urgent-color   "#ffb4ab"
    }

    insert-hint {
        color "#6cdbac80"
    }
}

recent-windows {
    highlight {
        active-color "#6cdbac"
        urgent-color "#ffb4ab"
    }
}
