layout {

    focus-ring {
        active-color   "#4edad3"
        inactive-color "#0c141b"
        urgent-color   "#ffb4ab"
    }

    border {
        active-color   "#4edad3"
        inactive-color "#0c141b"
        urgent-color   "#ffb4ab"
    }


    tab-indicator {
        active-color   "#4edad3"
        inactive-color "#00504c"
        urgent-color   "#ffb4ab"
    }

    insert-hint {
        color "#4edad380"
    }
}

recent-windows {
    highlight {
        active-color "#4edad3"
        urgent-color "#ffb4ab"
    }
}
